.cars{
    margin-top: 40px;
    border: 1ch;
    border-color: red;
}
.btn{
  border-radius: 2px; 
  cursor: pointer; 
  
}
.pointer:hover{
  background-color: lightblue;

}
#carouselExampleControls{
  width: 600px;
  height: 300px;
}
